openai
python-dotenv
langchain_nvidia_ai_endpoints
langchain_community
langchain_google_genai
langchain
pymupdf
faiss-cpu
streamlit
sentence-transformers
sentencepiece
accelerate
requests
rank_bm25
ragas